.horizontalNav{
	background-color: $brand-dark;
	min-height: 70px;
	display: flex;
	align-items: center;
	padding: 0 90px 0 30px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	@include huge{
		min-height: 90px;
	}

	img{
		max-height: 50px;

		@include huge{
			min-height: 60px;
		}
	}

	&__list{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $brand-light;
		list-style: none;
		margin: 0 0 0 100px;

		&__item{
			font-size: 1.2rem;
			@extend .font-bold;

			@include huge{
				font-size: 1.6rem;
			}
		}
	}
}