.userInfos{
	&__title{
		font-size: 3.2rem;
		margin-top: 60px;

		&__color{
			color: $brand-primary;
		}
	}

	&__text{
		font-size: 1.2rem; 

		&__clap{
			max-height: 24px;
			margin-left: 3px;
		}
	}
}